- hosts: web
  become: true
  tasks:
    - name: Update system
      apt:
        update_cache: yes

    - name: Install Docker
      apt:
        name: docker.io
        state: present

    - name: Start Docker
      service:
        name: docker
        state: started

    - name: Run App Container
      shell: docker run -d -p 3000:3000 devsecops-app:latest
